{% layout "default" %}

{% block content %}
<section id="intro" class="section hero">
  <div class="container hero-body">
    <h1 class="site-title">Union&nbsp;PROUD for Local&nbsp;872</h1>
    <h2 class="subtitle is-3"> Power in Representative Organizing and Union Democracy </h2>

    <p style="text-align: justify;">
      We, the Union&nbsp;PROUD 
      (Power in Representative Organizing and Union Democracy)
      slate,
      are a diverse group of graduate student workers — international and domestic,
      humanists and scientists, from UPC and HSC, from departments with 15 workers and
      departments with 350 workers, and from every current cohort — running for the
      executive board of our union. Our diversity reflects how our power to improve our
      working conditions as graduate student workers fundamentally comes from our ability
      to work together. As we move into this new phase of our local union, we are stepping
      up as dedicated and ambitious organizers with the experience to hold USC
      accountable.
    </p>
  </div>
  <div class="container hero-body content" style="text-align: center;">
    <div class="columns is-vcentered is-centered">
      <div class="column content is-one-third">
        <h3>
          Vote Union PROUD Now!
          <br/>
          <br/>
          Find your ballot in your email inbox from 
          <u>vote@simplyvoting.com</u>
        </h3>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column content is-two-fifths">
        <p style="font-size: 1.5em; line-height: var(--bulma-content-heading-line-height);">
          If you did not receive a ballot, or the link does not work:
        </p>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdJO847Je4qc_rWsukAgGr9dvXiNcfUl0Ykry_ajttsmfLrRQ/viewform" target="_blank" class="button is-medium
          is-uscgold is-outlined" style="font-weight: var(--bulma-content-heading-weight);">
          Request a ballot&nbsp;<i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a>
      </div>
      <div class="column content is-two-fifths">
        <p style="font-size: 1.5em; line-height: var(--bulma-content-heading-line-height);">If you aren't a member of our union, you can sign up here:</p>
        <a href="https://www.gswoc-usc.org/join/" target="_blank" class="button is-medium
          is-uscgold is-outlined" style="font-weight: var(--bulma-content-heading-weight);">
          Sign up to be a member&nbsp;<i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a>
      </div>
    </div>
  </div>
</section>
<section id="our-platform" class="section hero">
  <div class="container hero-body">
    <!-- <h1 class="section-header">Our Platform</h1> -->
    <div class="container content">

      <!-- <h2>Our Team</h2> -->

      <!-- <p> -->
      <!--   We, the Union PROUD (Power in Representative Organizing and Union Democracy) slate, -->
      <!--   are a diverse group of graduate student workers — international and domestic, -->
      <!--   humanists and scientists, from UPC and HSC, from departments with 15 workers and -->
      <!--   departments with 350 workers, and from every current cohort — running for the -->
      <!--   executive board of our union. Our diversity reflects how our power to improve our -->
      <!--   working conditions as graduate student workers fundamentally comes from our ability -->
      <!--   to work together. As we move into this new phase of our local union, we are stepping -->
      <!--   up as dedicated and ambitious organizers with the experience to hold USC -->
      <!--   accountable. -->
      <!-- </p> -->

      <h2>Our Vision</h2>
      <p>
        Our shared vision of our union is to build long-term, sustainable structures to
        democratically exercise our collective power as graduate students working for
        a better workplace environment and as a community standing in solidarity with each
        other. We know that winning our contract — a historic first for academic workers at
        USC — is just the beginning: we are ready to build our Local Union from the ground
        up by creating spaces for graduate student workers to build community and empower
        leaders, developing clear processes and communication for organizing around
        grievances, and ensuring all GSWs know their rights and the workings of our union.
      </p>

      <h2>Our Commitments</h2>
      <p>
        We are committed to building our movement through one-on-one organizing, organizing
        on grievances, and democratizing our union. We are committed to building collective
        power and fighting alongside our coworkers to stand up for our rights.
      </p>

      <h2>Our Power</h2>
      <p>
        Our power as a union comes from all of us. When we join together, we have the power
        to stand up to USC when they violate our rights. By building a strong Local Union,
        we also join in the labor movement with over 100,000 academic workers throughout
        California and around the country. But all of that starts with us. We cannot wait to
        continue building our union alongside you, and we hope we have your vote.
      </p>
    </div>
  </div>
</section>
<section id="our-candidates" class="section hero">
  <div class="container hero-body">
    <h1 class="section-header">Meet the Candidates</h1>
    <div class="container">
      <div class="columns is-centered is-multiline">
        {%
        render 'candidate-card', 
        img_path: "/src/assets/img/anand.jpg",
        name: "Anand Balakrishnan",
        dept: "Computer Science",
        post: "President",
        statement: "https://docs.google.com/document/d/1M5GpviipwHSjtg4ormItyCOZgUI0mG9Et3kY2-WK2gI/"
        %}

        {%
        render 'candidate-card', 
        img_path: "/src/assets/img/anna_weiss.jpg",
        name: "Anna Weiss",
        dept: "Marine and Environmental Biology",
        post: "Vice President",
        statement: "https://docs.google.com/document/d/1moLAf10FNdIz5m0MYeXt8ymA4MQJu--cggtz_ItdEds/"
        %}

        {%
        render 'candidate-card', 
        img_path: "/src/assets/img/Batista-Malat_872.jpg",
        name: "Eleanor Batista-Malat",
        dept: "Gerontology",
        post: "Financial Secretary",
        statement: "https://docs.google.com/document/d/1rFBn_Bo4vyCpl-UYx-mu9gEB5WYZGepsEvKQoU9qxcs"
        %}
        <!-- </div> -->
        <!-- <div class="columns is-centered"> -->

        {%
        render 'candidate-card', 
        img_path: "/src/assets/img/shenali.jpg",
        name: "Shenali Pilapitiya",
        dept: "Political Science and International Relations",
        post: "Recording Secretary",
        statement: "https://docs.google.com/document/d/1JZ6iwKYYU2C1nhiTyawgGySaXClyYMi9w51T9_nXbzg"
        %}

        {%
        render 'candidate-card', 
        img_path: "/src/assets/img/jose_muzquiz.jpg",
        name: "José Múzquiz",
        dept: "Political Science and International Relations",
        post: "Guide",
        statement: "https://docs.google.com/document/d/1XZVCpQd5K20OPIqZUtbUc5QVysLm1jvJgm2C-D_DyWA/"
        %}

        {%
        render 'candidate-card', 
        img_path: "/src/assets/img/daniel.jpg",
        name: "Daniel Delgado",
        dept: "History",
        post: "Sergeant-at-arms",
        statement: "https://docs.google.com/document/d/1vFHCfa3cuK4e_5_6YqQA_CozHXgMLKXp/"
        %}
        <!-- </div> -->
        <!-- <div class="columns is-centered"> -->

        {%
        render 'candidate-card', 
        img_path: "/src/assets/img/chuankai_cheng.jpg",
        name: "Chuankai Cheng",
        dept: "Marine and Environmental Biology",
        post: "Trustee",
        statement: "https://docs.google.com/document/d/12Bw7yFMiMeAjRc7mNxMTHnruiHfPkc5WdjNkLmnejQQ"
        %}

        {%
        render 'candidate-card', 
        img_path: "/src/assets/img/clara_alvarez_caraveo.jpg",
        name: "Clara Alvarez Caraveo",
        dept: "Sociology",
        post: "Trustee",
        statement: "https://docs.google.com/document/d/1tTyUY-tz21GCAQHqe4KADn0vnBr8drBc9bHoS0Z4IpQ"
        %}

        {%
        render 'candidate-card', 
        img_path: "/src/assets/img/seeta_rajpara.jpg",
        name: "Seeta Rajpara",
        dept: "Biomedical and Biological Sciences",
        post: "Trustee",
        statement: "https://docs.google.com/document/d/1cIFMN_IKtY_R6wWD8NZDIVmzTitqF-d9l_mUqCfII28/"
        %}
        <!-- </div> -->
        <!-- <div class="columns is-centered"> -->

        {%
        render 'candidate-card', 
        img_path: "/src/assets/img/kurt.jpg",
        name: "Kurt Woolford",
        dept: "History",
        post: "Head Steward" 
        %}

        {%
        render 'candidate-card', 
        img_path: "/src/assets/img/connor.jpg",
        name: "Connor Sauceda",
        dept: "Civil and Environmental Engineering",
        post: "Head Steward",
        statement: "https://docs.google.com/document/d/14nlzx-g_0X8EKa_J4F-F3hs1ct8AzsSFj0wCzyW1Xnk/"
        %}

      </div>
    </div>
  </div>
</section>
<section id="election-info" class="section hero">
  <div class="container hero-body">
    <h1 class="section-header">Election Information</h1>
    <div class="container content" style="font-size: 1.2rem;">
      <ul>
        <li>
          <strong>May 13th &ndash; May 14th:</strong> Voting opens, online ballots sent
          out to all members (if you do not receive a ballot on the 13th, there will be
          a link to request a ballot). 
        </li>
        <li>
          <strong>May 15th:</strong> Election results announced.
        </li>
        <li>
          <strong>May 20th &ndash; May 21st</strong>: Runoff election, if necessary, for
          positions where no candidate is voted in by a majority vote.
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- <section class="footer"> -->
<!--   <div class="content has-text-centered"> -->

<!--   </div> -->
<!-- </section> -->
{% endblock %}
